* {
    font-family: 'Harmattan', sans-serif;
    font-size: 20px;
    transition: all ease-in-out .5s;
    max-width: 100%;
    max-height: 100%;
  }
  
 
  body {
    background-color: #fafafa;
    overflow-x: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat

  }

   section, .section{
     width: 72%;
     float: right;
   }
  
   h2{
     text-align: center;
     background-color: #a68054;
     padding: 7px;
     color: #fff;
     border: 8px double #fff
    
   }
   section .container{
     max-width: 100%;
   }
   
   .pd-right-0{
     padding-right: 0;
    
   }
   .pd-right-0 img{
     min-width: 100%;
   }
  button:focus {
    outline: none !important;
  }
  

  .nav-pills > li > a {
    color: #a68054;
    font-weight: bold;
    border: 1px solid #a68054;
    text-align: center;
    border-radius: 0
  }
  
  .nav > li > a > img {
    max-width: 100%;
  }
  
  .nav-pills > li > a:hover, .nav-pills > li > a:hover, .nav > li > a:focus, .nav > li > a:hover {
    background-color: #443922 !important;
  }
 
  

  
  .myNav .dropdown-menu > li > a:focus, .myNav .dropdown-menu > li > a:hover {
    background-color: #443922;
    color: #bfaa81;
  }
  
  .myNav .cus .fa:hover {
    color: rgba(160, 155, 80, 0.486);
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .btn {
    border: 2px solid #BEA780;
    background-color: transparent;
  }

  #Home{
    z-index: 99999999999999999999;
    position: fixed;
  }
  .fix {
    background-image: url(../images/bg-nav.png);
    background-size: cover;
    color: #bfaa81;
    position: fixed;
    top: 60px;
    left: 80px;
    width: 230px;
    border: 1px solid #bfaa81;
    transition: all ease-in-out .5s;
    z-index: 9999999
  }
  #myslideshow1{
    z-index: 1;
  }
  .partner{
    border-bottom: 2px solid #211e1c;
    border-top: 2px solid #211e1c;
   
  }
 .partner img{
   max-width: 100%;
 }
 .gallery-image img{
   max-width: 100%;
   background-color: #fff;
   padding: 3px;
   border: 1px solid #443922;
 }
 .gallery-image .html5lightbox:hover .gallery-image img{
  box-shadow: 1px 2px #333

 }
 .row{
   margin-bottom: 30px
 }
 .materials {
   max-width: 100%;
   
 }
 .html5lightbox{
  height:100%!important;
  width:100%!important;
  margin-left:-17px;
  text-align:center;
  border: none!important;
opacity:0;
filter:alpha(opacity = 0);

  position:absolute!important;
  top:0!important;
  left:0!important;

  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  border-radius:50%;

-webkit-transform:scale(2);
-moz-transform:scale(2);
-ms-transform:scale(2);
-o-transform:scale(2);
transform:scale(2);

-webkit-transition:all 0.3s ease 0s;
-moz-transition:all 0.3s ease 0s;
-ms-transition:all 0.3s ease 0s;
-o-transition:all 0.3s ease 0s;
transition:all 0.3s ease 0s;
}
#html5-watermark{
  display: none!important
}
.gallery img{
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  padding: 3px;
  border: 1px solid #443922
}
#html5-close{
  top: 15px!important;
    right: 12px!important;
}

/* Start testmonail */
.outer-test{
  padding: 3%;
  background-image:url(../images/portfilio/4.png);
  background-size: cover;
  background-attachment: fixed;
  border: 8px double #fff;
  overflow: hidden;
  
  }
  .outer-test h2{
    border: 8px double #333

  }
  .inner-test{
  background-color: rgba(250, 250, 249, 0.5);
  border: 8px double #8f7949;
  overflow: hidden;
  } 
  
.test{
    color:aliceblue;
    position: relative;
    text-align: center;
    }
.test h2,h3{
    text-align: center;
    color: #333;
    position: relative;
    margin: 30px;
    font-weight: normal

}
.test h2:after{
    content:"";
    border-bottom: 2px solid #FFF;
    width: 40px;
    position:absolute;
    top: 30px;
    left: 445px;
}
.test h3{
    color:#333;
    font-weight: bold
}
.test p{
  padding-top: 15%;
    position: relative;
    color: #333;
    line-height:1.7em
}


.test .slider >div{
    display: none;
    transition: display ease-in-out .2s
    
}
.test .slider .active{
    display: block
}

/* End Testemonail */

/* contact us */
#contact{
  background-image: url(../images/portfilio/7.png);
  background-size: cover;
  background-attachment: fixed;
}
#contact>div{
  background-color: rgba(15, 15, 15, 0.5);
  padding-bottom: 10%

}
.more-big{
  font-size: 70px;
  font-weight:bold;
  color: #fff
}

form{
  padding-top: 12%;
  padding-bottom: 5%;
  padding-left: 2%;
  padding-right: 2%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  text-align: center;
  margin-bottom: 15px
}

form .btn-default{
  color: #fff;
  font-size: 20px;
  font-weight: bold
}

.form-horizontal .form-group{
  margin-left: 0;
  margin-right: 0
}

.main-footer {
 
  display: inline-block;
  height: 70px;
  background-color: #a68054;
}
.main-footer .copyright {
  width: 50%;
  float: left;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }
}
.main-footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.main-footer .copyright a{
  color: floralwhite
}
@media (max-width: 600px) {
  .main-footer .copyright p {
    text-align: center;
    padding: 0;
  }
}
.main-footer .social {
  width: 50%;
  float: right;
}
@media (max-width: 600px) {
  .main-footer .social {
    width: 100%;
  }
}
.main-footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
.main-footer .social a:hover {
  background-color: #222;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.linked {
  background-color: #1e83ae;
  font-size: 1.2em;
  width: 20%;
}

.face {
  background-color: #3d5b94;
  font-size: 1.2em;
  width: 20%;
}

.tweet {
  background-color: #3dacdd;
  font-size: 1.2em;
  width: 20%;
}

.support {
  background-color:#725d45;
  font-size: 0.8em;
  width: 40%;
}


    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
      body{
        background: none;
      }
      section, .section{
        width: 100%;
        text-align: center
      }
      .row{
        margin-bottom: 5px
      }

      .fix{
        top: 0;
        left: 0;
      }
      .navbar-toggle{
        background-color: #444;
        position: fixed;
        top: 0;
        left: 5px;
        z-index: 999999999999999999999999;
        
      }
      .icon-bar{
        background-color: #fafafa;
      }
      .nonee{
        display: none
      }

      .inner-aside button{
        color: #fff
      }
      .ss-paginate{
        left: 128px
      }
      #partneer{
        margin-top: -60px
      }
      .partner img{
        width: 65px;
        height: 50px
      }
      .gallery-image img{
        padding: 1px
      }
      .slider p{
        line-height: 1;
        padding-top: 5px
      }
     .slider p q{
       font-size: 8px;
     }
     .slider h3{
       margin: 5px;
       font-size: 14px

     }
     .slider img{
       border-radius: 75px;
       height: 100px;
       width: 100px;
       background-color: #BEA780;
       padding: 3px;
       border: 1px solid #443922
     }
     #team{
 height: 300px
     }
     .card-container, .front, .back{
       height: auto;

     }
     .card .stats-container{
       margin-top: 0
     }
     .back h4{
       font-size: 10px;

     }
     .back p {
       font-size: 8
     }
     .stats h4{
      font-size: 6px
     }
     .stats p{
      font-size: 8px
     }
     .more-big{
       font-size: 30px
     }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }
